{% extends "base.html" %}
{% block conteudo %}
<h1 id="sobre">Sobre Nós</h1><p>Nascidos na Brasil, em 1919, estamos presente em 150 países e com mais de 60 milhões de produtos vendidos anualmente. Desde o desenvolvimento e criação do aspirador de pó, somos a única empresa de eletrodomésticos do mundo a oferecer soluções completas para consumidores e profissionais.
Nosso portfólio global apresenta refrigeradores, eletroportáteis, lavadoras, lava-louças, secadoras, aspiradores de pó, freezers, adegas, frigobares, microondas, cooktops, fornos, fogões, coifas, depuradores, ar condicionado, climatizadores, purificadores de ar e de água, aquecedores de água, acessórios e utensílios de cozinha.
Temos sete plantas de produção na América Latina: Argentina, Brasil e Chile, com cerca de 11 mil empregados. No Brasil, chegamos em 1926. A cidade de Curitiba (PR) sediou nossa primeira fábrica, após aquisição da Prosdócimo, marca local. Hoje, contamos com duas plantas fabris em Curitiba, uma em São Carlos (SP) e uma em Manaus (AM).</p>
{% endblock conteudo %}


