

{% extends "base.html" %}
{% block conteudo %}

  <a class="btn btn-secondary dropdown-toggle" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Categorias
  </a>

  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/produtos/produtos">Todas as categorias</a></li>
    <li><a class="dropdown-item" href="/produtos/cafeteira/">Cafeteira</a></li>
    <li><a class="dropdown-item" href="/produtos/fogao/">Fogão</a></li>
      <li><a class="dropdown-item" href="/produtos/geladeira/">Geladeira</a></li>
      <li><a class="dropdown-item" href="/produtosmaquina-de-lavar/">Máquina de lavar</a></li>
      <li><a class="dropdown-item" href="/produtosmicroondas/">Microondas</a></li>
      <li><a class="dropdown-item" href="/produtos/batedeira/">Batedeira</a></li>
  </ul>


<h2>Produtos</h2>
<div class="produtos__container">
    {% for produto in lista_produtos %}
    <div class="card produto__card">
        <a href="{{ produto.get_absolute_url }}">
            <img class="card-img-top" src="{{ produto.imagem.url }}"
alt="Card image cap">
        </a>
        <div class="card-body">
            <p class="card-title">{{ produto.nome }}</p>
            <p> R${{ produto.preco }}</p>
            <a href="{{ produto.get_absolute_url }}" class="btn btn-
primary">Ver mais detalhes...</a>
        </div>
    </div>
    {% endfor %}
{% endblock conteudo %}
</div>

